<div class="page-header">
    <div id="title">
        <h1>{{message}}</h1>
    </div>
    <div id="cpu" (click)="toggleMonitor()">
        <span *ngIf="performance">CPU: {{performance.Process | number : '1.0-0'}}% / {{performance.Total | number : '1.0-0'}}% (system)</span>
        <span *ngIf="running" class="glyphicon glyphicon-stop"></span>
        <span *ngIf="!running" class="glyphicon glyphicon-play"></span>
    </div>
    <div class="clear"></div>
</div>
<div class="jumbotron">
    <div class="row">
        <div *ngFor="let module of modules" [routerLink]="['', module.Name]" class="col-md-4">
            <div class="alert" [ngClass]="getStatusClass(module.Status)">
                <div class="left">{{module.Name}}: {{module.Status}}</div>
            </div>
        </div>
    </div>
</div>