<div class="page-header">
    <div class="clearfix">
        <div class="pull-left">
            <h1>{{module?.Name}}</h1>
        </div>
        <div class="pull-right" style="margin-top: 30px">
            <button class="btn btn-info" (click)="loadInfo()"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel" [ngClass]="getStatusClass(module?.Status)">
            <div class="panel-heading">
                <h3>Status
                    <div style="float: right; margin-top: -5px;">
                        <span *ngIf="loading" class="fa fa-spinner fa-spin"></span>
                        <div *ngIf="!loading">
                            <button *ngIf="!running" class="btn btn-success" (click)="start()"><span class="glyphicon glyphicon-play"></span></button>
                            <button *ngIf="running" class="btn btn-danger" (click)="stop()"><span class="glyphicon glyphicon-stop"></span></button>
                        </div>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Status:</dt>
                    <dd>{{module?.Status}}</dd>
                    <dt>Previous retrieval at:</dt>
                    <dd>{{info?.LastRetrieval | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
                    <dt>Next retrieval at:</dt>
                    <dd>{{info?.NextRetrieval | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Channels</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-2" *ngFor="let channel of info?.Channels">{{channel}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h3>Settings</h3>
    <div>
        <div class="row" *ngIf="settings">
            <div class="col-md-4" *ngFor="let setting of settings">
                <app-setting [setting]="setting"></app-setting>
            </div>
        </div>
        <div class="row" *ngIf="settings">
            <div class="col-md-4">
                <button class="btn btn-default" [ngClass]="{'btn-danger': (getNrOfChangedSettings() > 0)}" (click)="resetSettings()"><span class="glyphicon glyphicon-step-backward"></span> Reset</button>
                <button class="btn btn-default" [ngClass]="{'btn-success': (getNrOfChangedSettings() > 0)}" (click)="saveSettings()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                <span> ({{getNrOfChangedSettings()}} changes)</span>
            </div>
        </div>
    </div>
</div>