<div class="page-header">
    <div class="clearfix">
        <div class="pull-left">
            <h1>{{module?.Name}}</h1>
        </div>
        <div class="pull-right" style="margin-top: 30px">
            <button class="btn btn-info" (click)="loadInfo()"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel" [ngClass]="getStatusClass(module?.status)">
            <div class="panel-heading">
                <h3>Status
                    <div style="float: right; margin-top: -5px;">
                        <span *ngIf="loading" class="fa fa-spinner fa-spin"></span>
                        <div *ngIf="!loading">
                            <button *ngIf="!running" class="btn btn-success" (click)="start()"><span class="glyphicon glyphicon-play"></span></button>
                            <button *ngIf="running" class="btn btn-danger" (click)="stop()"><span class="glyphicon glyphicon-stop"></span></button>
                        </div>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Status:</dt>
                    <dd>{{module?.Status}}</dd>
                    <dt>Last update at:</dt>
                    <dd>{{info?.LastEpgUpdate | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
                    <dt>Last update successfull:</dt>
                    <dd>{{info?.LastEpgUpdateSuccessfull}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>