<div class="channel">
  <div class="row channel-header" (click)="toggleCollapsed()">
    <h3 class="left">{{info.Number}}: {{info.Name}}<span *ngIf="loading" class="fa fa-spinner fa-spin"></span></h3>
    <div class="right tags">
      <div class="right">
        <a class="glyphicon glyphicon-chevron-up"
           [class.glyphicon-chevron-up]="isCollapsed"
           [class.glyphicon-chevron-down]="!isCollapsed">
        </a>
      </div>
      <div *ngIf="info.EpgGrabber" class="tag">EPG</div>
      <div *ngIf="info.Keyblock" class="tag">Keyblock</div>
      <div *ngIf="info.TvHeadend" class="tag">TvHeadend</div>
    </div>
  </div>
  <div class="row channel-details" [id]="info.Id" [class.collapse]="isCollapsed">
    <div class="row">
      <app-toggle-button class="col-md-2" [text]="'EPG'" [value]="info.EpgGrabber" (onChanged)="onToggleButtonChange('EPG', $event)"></app-toggle-button>
      <div *ngIf="TvHeadendLoading">
        <span class="fa fa-spinner fa-spin fa-2x"></span>
      </div>
      <div *ngIf="!TvHeadendLoading">
        <div class="channel-title">Channel: </div>
        <select [(ngModel)]="info.TvHeadendChannel" (change)="channelSelected()">
          <option [value]="noChannel">No channel</option>
          <option *ngFor="let ch of channels" [value]="ch.Url">
            {{ch.Provider}}: {{ch.Name}} ({{ch.MBps}} MB/s, Key {{ch.Number}})
          </option>
        </select>
        <div class="select-icon glyphicon glyphicon-chevron-down"></div>
        <button id="refresh" class="btn btn-info" (click)="refreshChannels()"><span class="glyphicon glyphicon-refresh"></span></button>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-default" [ngClass]="{'btn-danger': (getNrOfChangedSettings() > 0)}" (click)="resetSettings()" [disabled]="loading"><span class="glyphicon glyphicon-step-backward"></span> Reset</button>
      <button class="btn btn-default" [ngClass]="{'btn-success': (getNrOfChangedSettings() > 0)}" (click)="saveSettings()" [disabled]="loading"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      <div class="changes"><span>({{getNrOfChangedSettings()}} changes)</span></div>
    </div>
  </div>
</div>
